.presentation_box{
    min-height: 25px;
     background: white;
      margin-bottom: 5px;
      display: flex;
      font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 15px;
    margin-top: 0px;
    padding: 0px 5px 0px 5px;
    align-items: center;
    width: 80%;

    background: #ffffff;
    border: 1px solid #d7d7d7;
    text-decoration-color: #ffb600;
    margin-left: 50px;
    margin-right: 10px;


}

.presentation_box a{
    color:black;
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 12px;
    text-decoration-color: #ffb600;

}

.presentation_group_title{
    font-family: 'Stardos Stencil', cursive;
    margin: 15px 0 15px 0;
}

.presentation_link{
    text-align: left;
}