.sticke_div{
    position: fixed;
    bottom: 50px;
    right:30px;
    z-index: 5;

}
.sticker_body{
   
    background-color: #FCC744;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    cursor: pointer;
    margin-top: 15px;
}

.sticker_body:hover{
    box-shadow: 1px 1px 4px 4px rgba(128, 128, 128, 0.37);
}



  .subscipe_toaster{
      width: 300px;
      max-width: 70vw;
      height: 130px;
      background-color: white;
      border: 1px solid grey;
      border-radius: 5px;
      box-shadow: 0 0 4px 4px #8080807a;
      position: absolute;
      top: 0px;
      right:  58px;
      width: 300px; 
      z-index: 555;
      transition: all .4s;
      overflow: hidden;

    }
    .subscipe_toaster.closed{
        width: 0px;
        height: 0px;
        position: absolute;
        top:40px;
        right:  20px;

        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0px;
        box-shadow: 0 0 0 0 #8080807a;


      }

  .toaster_header{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 11px;
    padding-right: 5px;
    font-weight:bold;
    color:black;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    }


.toaster_body{
    z-index: 333333;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.toaster_form{
    display: flex;
}