.back_image {
    position:absolute;
    left:50%;
    background-image: url('images/sha1.jpg');
    width:774px;
    height:759px;
    overflow-x:hidden;
    overflow-y:hidden;
    background-size: contain;
}


.vision_mission_div{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-color: #ffa600;
    border-width: 10px;
    border-style: solid;
    overflow: hidden;
}


.vision_mission_col
{
/* height:150px ; */
}
.vision_mission_title{
    min-height:120px ;
    margin-top: 20px;
}


.media_element{
    margin-bottom: 22px;
}

.vision_icon{
    text-align: center;
    cursor: default;
    background-color: #FFB600;
    color: #fff;
    display: inline-block;
    margin:auto;
    border-radius: 10%;
    width:80px ; 
    height:80px;
    font-size:36px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 0px;
    min-width: 80px;
}

.media_header{
    font-size: 26px;
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Tinos', serif; */
    font-family: 'Black Ops One', cursive;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #FFB600;
    padding: 3px;
}
.vision_ico::before{
    font-size: 36px;
}

.section_head_title{
    min-height: 100px;
    margin-top: 10px;
}



.working_area_icon{
    height: 150px ;
    width: 150px;
    border-radius: 50%;
    border-style: solid;
    overflow: hidden;
    border-color: #ffa600;
    border-width: 10px;
    border-style: solid;
}
.working_area_icob_title{
    min-height: 10px;
}

#working_area_col_2{
    /* border-style: solid; */
}

.partition_separator{
    min-height: 100px;
    /* background: rgb(11, 95, 11); */
    display: flex;
    justify-content: center;
    align-items: center;
}





.board_div{
    min-height:400px;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.board_separator{
    margin-top: 70px;
}


