.footer {
    background-color: #1B273D;
    color: #babfc5;
    text-align: left;
}
.footer {
    padding: 60px 0 40px;
    position: relative;
}
#footer_image{
    height: auto;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

.footer .textwidget i {
    margin-right: 10px;
    font-size: 16px;
    width: 20px;
}



.footer .widget-title {
    color: #111;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer .widget-title {
    color: #ffffff;
}


.footer .widget-title:after {
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 10px;
    position: absolute;
    background-color: #ffb600;

}




.footer-cebc {
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    overflow: hidden;
    margin: 0;
}

.footer-contact {
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
}

.footer .textwidget p {
    margin-bottom: 0.7em;
}
body, input, select, textarea, p {
    font-family: Open Sans;
}
.footer .textwidget p {
    margin-bottom: 0.7em;
}
body, input, select, textarea, p {
    font-family: Open Sans;
}

.scheme .footer a {
    color: #BABFC5 !important ;
}



.footer .social .menu li a:before {
    font-size: 16px;
}
.social .menu li a[href*="linkedin"]:before {
    content: "\f0e1";
}

.social .menu li a:before {
    font-size: 16px;
    display: inline-block;
    font-family: 'FontAwesome';

}


  
  section #services {
    transform: translatez(0);
  }
  section #services h2 {
    margin: 10px 0px 10px;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
  }
  section #services li {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    list-style: none;
  }
  section #services li div {
    width: 30px;
    height: 30px;
    color: #74d4b3;
    text-align: center;
    /* line-height: 120px; */
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease;
  }
  section #services li a {
    color: #77cc6d;
  }
  section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
    color: #ff0800;

  }
  section #services li span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 7px;
    text-align: center;
  }


  .i_link{
      /* font-size: 10px; */
      color: #1B273D;
      margin-top: 7.5px;


  }


.copyright {
    background-color: #ffb600;
    color: #353535;
}
.copyright {
    padding: 25px 0;
    text-align: center;
    font-size: 14px;
    position: relative;
}
.copyright a {
    color: #ffffff !important;
    margin: 4px;
    font-weight: 600;
}