
#project_background{
    background-color: #F1F1F1;
    min-height: 100vh;
    margin-top: 0;
    /* overflow: hidden; */
}

.project_box{
    max-width: 80%;
    width: 100%;
    max-width: 1000px;
    min-height: 500px;
    margin: auto;
    margin-bottom: 20px;
    background: #ffffff;
    border: 1px solid #d7d7d7;

}

.project_image_box{
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    width: 85%;
    margin: auto;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 10px;
}


.project_details_box{
    background: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 10px;
    margin-bottom: 30px;
}


#project_header{
    width: 100%;
   
    min-height: 250px;
    margin: 0;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #d7d7d7;
}


#project_header_2{
    width: 100%;
   
    min-height: 60px;
    margin: 0;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #d7d7d7;
}

#project_body{
    padding: 25px;
}


.details_title{
     text-align: right;
     font-family: 'Stardos Stencil', cursive;
      font-size: 20px;
      min-height: 50px;
      vertical-align: middle;
      display: flex;
      justify-content: flex-end;
      align-items: center;
}
.details_value{
     /* font-family: 'Roboto', cursive; */
      font-size: 17px;
       display: flex;
        align-items: center;
         justify-content: center
}


#project_header{
    display: flex;
     flex-direction: column;
    }




/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

   #project_header{
    display: flex;
     flex-direction: row;
    }


 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  }