#top_bar{
    background-color: rgb(255, 255, 255);
    color : black;
     position: fixed; 
     width: 100%;
     display: flex;
     justify-content: flex-end ;
     z-index: 9999;

     font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: inset 0px -1px 1px 0px #8080801f;
    height: 24px;
    line-height: 24px;
    

}


.fixed-top {
    background-color: #fff !important;
}
.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }



  .fixed-top #nav_brand {
    height: 80px;
    transition: height .5s;
    margin: 5px;
   }
   @media (min-width: 768px) {

    .fixed-top.scrolled #nav_brand {
        height: 50px;
        padding: 10px;
    }
   }

 



@media (min-width: 768px) {

    .fixed-top {
        background-color: transparent !important;
        top: 18px !important;
    }
    .dark_bg{
        background-color: black !important;
    }

    .dark_bg .nav-item.not_scrolled.nav-link-selected{
       border-width:  0 0 7px 0;
       border-color: white;
       border-style: solid;
    }
    .dark_bg .nav-item.not_scrolled.nav-link-selected .my-sub-nav{
        border-top-width: 1px;
        border-color: rgba(255, 255, 255, 0.289);
        border-style: solid;
        
     }
     .nav-item.not_scrolled.nav-link-selected{
        background: #ffffff70;
        /* height: 50px; */

     }

    
}  



.nav_list{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    height: 100%;
    justify-content: center;
}


.nav-item{
    display: flex;
    align-items: center;
}








.nav_link{
    min-width: 100px;
    color: rgba(0,0,0,.5);
    display: flex;
    height: 100%;
    align-items: center;
    color: #000;
}
@media (min-width: 768px) {

  
    .nav_link {
        color: white !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .nav_link.scrolled { 
        /* change the color of links when scrolled */
        color: rgb(30, 30, 34) !important;
    }


   .nav_link{
       margin: 0 10px;
       padding: 0 10px;
       justify-content: center;
        display: flex;
        align-items: center;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
    .nav_link:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /* background: grey; */
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .nav_link:hover, .nav_link:focus, .nav_link:active {
        color: white !important;;
    }
    .nav_link:hover:before, .nav_link:focus:before, .nav_link:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    .nav-item:hover{
        background: grey;
    }

    .nav-link-selected{
        background: #000000;
        color: white;
    }
    .nav-link-selected .scrolled{
        color: white !important;
    }



}






.my-sub-nav {
    display: none
}


